body {
    padding: 0;
    margin: 0;
    min-width: 393px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.root {
    width: 393px;
    height: 452px;
    border: 1px solid red
}